/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
body {
    margin: 0;
    padding: 0;
}
:root {
    /* spacer */
    --spacer-sm: 3px;
    --spacer-md: 6px;
    --spacer-lg: 8px;
    /* margin */
    --marin-sm: 4%;
    --margin-md: 6%;
    --margin-lg: 8%;
}